@import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah';

* {
  box-sizing: border-box;
}

#content {
  margin: 0 2em;
  font-family: -apple-system, system, sans-serif;
}

a {
  color: #3f894a;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  color: #27552e;
  border-bottom: 1px solid #27552e;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

.main-content {
  display: flex;
}

.main-content > * {
  flex-grow: 1;
}

.main-content > div {
  flex-basis: 66%;
}

.main-content > ul {
  flex-basis: 33%;
}

.todo-list {

}

.todo-list li a {
  cursor: pointer;
}

.todo-list li a:first-child {
  margin-right: 1em;
}

.todo-list li a:last-child {
  color: #900;
}

.todo-list li.finished a:first-child {
  text-decoration: line-through;
}

.container {
  padding: 2em;
  border: 2px solid black;
}

.container.alternate-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.container.alternate-border {
  border: 2px dashed red;
}
